.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f79902;
  width: 100%;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 85%;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placesContainer {
  height: 70vh;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.place {
  width: 250px;
  border: 1px solid black;
  margin: 15px 0px;

  padding: 15px;
}

.form {
  width: 400px;
}
